<section class="customer-reviews">
    <picture>
        <source srcset="./images/c-rev/girl@1x.jpg 1x, ./images/c-rev/girl@2x.jpg 2x" media="(min-width: 320px)" />
        <img src="./images/c-rev/girl@1x.jpg" alt="Girl" width="85" height="85" style="border-radius: 44px" />
    </picture>
    <ul class="customer-reviews__list">
        <li class="customer-reviews__review">
            <span class="customer-reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in
                Los Angeles! In addition, you have beautiful serving, cozy atmosphere
                and polite staff.</span>
        </li>
        <li class="customer-reviews__name">
            <span class="customer-reviews__name-text">Emily, Los Angeles</span>
        </li>
        <li class="customer-reviews__icons">
            <svg class="customer-reviews__icon-first" width="12" height="12">
                <use href="./images/icons.svg#ellipse"></use>
            </svg>
            <svg class="customer-reviews__icon-second" width="12" height="12">
                <use href="./images/icons.svg#ellipse"></use>
            </svg>
            <svg class="customer-reviews__icon-second" width="12" height="12">
                <use href="./images/icons.svg#ellipse"></use>
            </svg>
        </li>
    </ul>
</section>